<div id="cuerpo-fondo">
  <div id="busqueda-input">
    <!--<form #articuloForm="ngForm" class="needs-validation" novalidate>-->
      <!--
      <div class="form-row">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="inputArticulo._id">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip01">Título</label>
          <input type="text" name="name" #name="ngModel" [(ngModel)]="inputArticulo.titulo" class="form-control"
            id="validationTooltip01" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationTooltip02">Autor(es)</label>
          <input type="text" name="autor" #autor="ngModel" [(ngModel)]="inputArticulo.autor" class="form-control"
            id="validationTooltip02" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
      </div>
      -->
      <!--
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip03">Álbum</label>
          <input type="text" name="album" #album="ngModel" [(ngModel)]="inputArticulo.album" class="form-control"
            id="validationTooltip03" required>
          <div class="invalid-tooltip">
            Please provide a valid album.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip05">Año de publicación</label>
          <input type="number" name="anio" #year="ngModel" [(ngModel)]="inputArticulo.anio" inputmode="numeric"
            class="form-control" id="validationTooltip05" required>
          <div class="invalid-tooltip">
            Please provide a valid year.
          </div>
        </div>
      </div>
      -->

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip01">Búsqueda general</label>
          <div class="input-group mb-3">
            <input [(ngModel)]="bgeneral" type="text" class="form-control" placeholder="Busque por título, álbum, autor, compositor, formato o ubicación" aria-label="General" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchGeneral()">Buscar</button>
          </div>
          <!--<input type="text" name="name" #name="ngModel" [(ngModel)]="busqueda1" class="form-control"
            placeholder="Busque por título, álbum, autor, compositor, formato o ubicación" id="validationTooltip01" required>-->
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationTooltip02">Buscar por categoría</label>
          <div class="input-group mb-3">
            <input [(ngModel)]="bcategory" type="text" class="form-control" placeholder="Ingrese una categoría" aria-label="Categoria" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchCategory()">Buscar</button>
          </div>
          <!--<input type="text" name="autor" #autor="ngModel" [(ngModel)]="inputArticulo.genero" class="form-control"
            placeholder="Ingrese una categoría" id="validationTooltip02" required>-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip01">Buscar por año</label>
          <!--<input type="text" name="name" #name="ngModel" [(ngModel)]="inputArticulo.anio" class="form-control"
          placeholder="Ingrese un año" id="validationTooltip03" required>-->
          <div class="input-group mb-3">
            <input [(ngModel)]="byear" type="text" class="form-control" placeholder="Ingrese un año" aria-label="Anio" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchYear()">Buscar</button>
          </div>
        </div>
      </div>

      <!--<button class="btn btn-primary" type="submit">Buscar</button>-->
      <button class="btn btn-primary" type="submit" style="margin-left: 20px;"
        (click)="reset()">Limpiar</button>
    <!--</form>-->
  </div>

  <div id="contenido">
    <table class="table table-bordered" border="1">
      <thead class="thead-dark">
        <th>Título</th>
        <th>Álbum</th>
        <th>Autor</th>
        <th>Compositor</th>
        <th>Año</th>
        <th>Género</th>
        <th>Formato</th>
        <th>Ubicación</th>
        <th style="text-align: center;">Opciones</th>
      </thead>
      <tbody>
        <!--<tr *ngFor="let articulo of articuloService.articulos">-->
        <tr *ngFor="let articulo of articuloService.articulos.documents">
          <td>{{ articulo.titulo }}</td>
          <td>{{ articulo.album }}</td>
          <td>{{ articulo.autor }}</td>
          <td>{{ articulo.compositor }}</td>
          <td>{{ articulo.anio }}</td>
          <td>{{ articulo.genero }}</td>
          <td>{{ articulo.formato }}</td>
          <td>{{ articulo.ubicacion }}</td>
          <td id="btn-opciones">
            <a (click)="viewArticulo(articulo)" style="cursor:pointer;">
              <i class="bi bi-eye-fill"> View</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>