@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.header .navbar {
    background-color: transparent !important;
}

*{
    font-family: 'Raleway';
}

.navbar-brand{
    font-weight: bold;
}

#logos {
    width: 58px;
}

.navbar{
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent !important;
    font-size: 17px;  
}

.navbar-transparent{
    background-color: transparent;
}
